{% extends "base.html.j2" %}

{% macro menu_item(group, items) %}
<div class="mv3 cf">
    <div class="fl w-third pr3">
        <h4 class="ma0 pa0 tr">{{ group }}</h4>
    </div>
    <div class="fl w-two-thirds">
        {% for i in items %}
        <a class="pr3 pb2 dib blue hover" href="#">{{ i }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="fl w-75 pr3">
    <h2>Explore UK social investment insights from our partners</h2>
    <div class="w-100 pr3 mv3">
        <input class="w-100 pa2 br3 ba bw1" placeholder="Search" />
    </div>
    {{ menu_item('&nbsp;', ["All social investment"]) }}
    {% for group, items in groups.items() %}
    {{ menu_item(group, items) }}
    {% endfor %}
    <div class="mt5 bw2 b--blue ba br3 pa2">
        <h3 class="mt0 mb2 pa0 blue">About this dashboard</h3>
        <p class="ma0 pa0">
            {{ lipsum(1) }}
        </p>
    </div>
</div>
<div class="fl w-25 pl3">
    <div class="ma2 bw2 b--blue ba br3 pa2">
        <h3 class="mt0 mb2 pa0 blue">Supported by</h3>
        <img src='https://www.powertochange.org.uk/wp-content/themes/power-to-change/assets/svg/power-to-change.svg' />
    </div>
</div>
{% endblock content %}}