{% extends "base.html.j2" %}

{% macro orglink(org, type="recipient", linkclass="dim") %}
    {% if org.get("name") %}
        {% if org.get("id") %}
        <a href="{{ url_for('data.' + type, orgid=org.id) }}" class="{{ linkclass }}">
            {{ org.name }}
        </a>
        {% else %}
            {{ org.name }}
        {% endif %}
    {% else %}
        Unknown funder
    {% endif %}
{% endmacro %}

{% block content %}
<div>
    <p class="f6 gray">Data &gt; {{ orgtype }} &gt; {{ orgid }}</p>
    <h2 class="">
        {{ org.organization.name }}
    </h2>
    <section>
        <div class="flex flex-wrap">
            <div class="w-25 mr2">
                <p>
                    {{ org.organization.streetAddress }}<br>
                    {{ org.organization.addressLocality }}<br>
                    {{ org.organization.postalCode }}<br>
                    {{ org.organization.addressCountry }}
                </p>
                <p><a href="{{ org.organization.url }}" class="dim underline">{{ org.organization.url }}</a></p>
                <p><strong>Charity number</strong> {{ org.organization.charityNumber }}</p>
                <p><strong>Company number</strong> {{ org.organization.companyNumber }}</p>
            </div>
        </div>
    </section>
    <section>
        <div class="flex flex-wrap">
            <div class="pa2 w5 tc">
                <p class="f4 pa0 ma0 tc">Deals</p>
                <p class="f1 pa0 b ma0 tc">{{ "{:,.0f}".format(stats.count) }}</p>
            </div>
            <div class="pa2 w5 tc">
                <p class="f4 pa0 ma0 tc">Value</p>
                <p class="f1 pa0 b ma0 tc">{{ stats.value|currency }}</p>
            </div>
        </div>
    </section>
    <section>
        <h3>Deals</h3>
        <table class="collapse ba br2 b--black-10 pv2 ph3 mt4">
            <thead>
                <tr>
                    <th class="pv2 ph3 tl f6 fw6 ttu"></th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Recipient organisation</th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Arranging organisation</th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Value</th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Status</th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Date</th>
                    <th class="pv2 ph3 tl f6 fw6 ttu">Investment components</th>
                </tr>
            </thead>
            <tbody>
            {% for deal in deals %}
                <tr class="striped--near-white">
                    <td class="pv2 ph3 code f6 gray"><a href="{{ url_for('data.deal', dealid=deal.deal_id) }}">{{ deal.deal_id }}</a></td>
                    <td class="pv2 ph3">
                        <a href="{{ url_for('data.recipient', orgid=deal.deal.recipientOrganization.id) }}" class="dim">
                            {{ deal.deal.recipientOrganization.name }}
                        </a>
                    </td>
                    <td class="pv2 ph3">
                        <a href="{{ url_for('data.arrangingorg', orgid=deal.deal.arrangingOrganization.id) }}" class="dim">
                            {{ deal.deal.arrangingOrganization.name }}
                        </a>
                    </td>
                    <td class="pv2 ph3">
                        {% if deal.deal.value %}
                        {{ deal.deal.value|currency }}
                        {% else %}
                        Not known
                        {% endif %}
                    </td>
                    <td class="pv2 ph3">{{ deal.deal.status }}</td>
                    <td class="pv2 ph3">{{ deal.deal.dealDate|todate("%b %Y") }}</td>
                    <td class="pv2 ph3">
                        <ul class="ma0 f6">
                        {% for i, invest in deal.deal.get("investments", {}).items() %}
                            {% for j in invest %}
                            <li>
                            {% if i=="grants" %}
                                Grant from {{ orglink(j.get("fundingOrganization", {}), "fundingorg") }}
                                ({{ j.amountDisbursed|currency }})
                            {% elif i=="equity" %}
                                Equity investment by {{ orglink(j.get("fundingOrganization", {}), "fundingorg") }}
                                ({{ j.value|currency }})
                            {% elif i=="credit" %}
                                Credit from {{ orglink(j.get("fundingOrganization", {}), "fundingorg") }}
                                ({{ j.value|currency }}{% if j.interestRate %} - effective interest rate: {{ j.interestRate.effectiveRate }}%{% endif %})
                            {% endif %}
                            </li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Sources:</h3>
        <div class="flex flex-wrap">
            <div class="w-25 pa2 mr2 bg-blue white">
            {% for s in sources.values() %}
                <ul class="list ma0 pa0">
                    <li>File title: "{{ s.Title }}"</li>
                    <li>File issued: {{ s.Issued|todate("%d/%m/%Y") }}</li>
                    <li>Data license: {{ s.License }}</li>
                    <li>Publisher: <a class="white dim" href="{{ s['Publisher:Website'] }}">{{ s["Publisher:Name"] }}</a></li>
                </ul>
            {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}}